[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
itsdangerous = "*"
pep8 = "*"
decorator = "*"
psycopg2 = "*"
sqlalchemy-migrate = "*"
sqlparse = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
WTForms = "*"
SQLAlchemy = "*"
Tempita = "*"

[requires]
python_version = "3.7"
