[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
itsdangerous = "*"
pep8 = "*"
decorator = "==4.0.10"
psycopg2 = "*"
six = "==1.10.0"
sqlalchemy-migrate = "==0.10.0"
sqlparse = "==0.2.2"
Flask = "==0.11.1"
Flask-Migrate = "==1.8.0"
Flask-SQLAlchemy = "==2.1"
Flask-WTF = "==0.13.1"
Jinja2 = "==2.8"
MarkupSafe = "==0.23"
Werkzeug = "==0.11.11"
WTForms = "==2.1"
SQLAlchemy = "==1.1.4"
Tempita = "==0.5.2"

[requires]
python_version = "3.7"
