click==6.6
Flask==0.11.1
Flask-Migrate==1.8.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pep8==1.7.0
Werkzeug==0.11.11
WTForms==2.1
decorator==4.0.10
psycopg2==2.6.2
six==1.10.0
SQLAlchemy==1.1.4
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
Tempita==0.5.2
Werkzeug==0.11.11
WTForms==2.1