body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #F8F8F8;
    color: #4A4A4A;
    font-size: 16px !important;
}

div.header {
    background-color: white;
    padding: 30px 40px 35px 40px
}

a, a:visited, a:hover {
    color: #706482;
    font-weight: 700;
}

h1 {
    font-weight: 700;
    text-align: left;
    font-size: 48px;
    margin: 0;
    letter-spacing: 1px;
}

h1 a {
    text-decoration: none;
    color: #706482;
}

h2 {
    font-weight: normal;
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;

}

ul {
    margin-top: 0px;
}

li {
    line-height: 1.6em;
}

div.nav {
    padding-top: 20px;
}

div.nav a {
    padding-left: 40px;
    text-decoration: none;
    font-weight: 400;
    color: #4A4A4A;
}

div.nav a:hover {
    text-decoration: underline;
    color: #706482;
}

main {
    padding-top: 60px;
}

div#intro, div#feminine {
    padding-bottom: 60px;
}

p {
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 0em;
    margin-bottom: 1.8em;
}

div.formsection {
    padding-left: 60px;
}

textarea {
    width: 100%;
    border-color: #DCDADA;
    font-family: Lato, sans-serif;
    padding: 10px;
    color: #4A4A4A;
}

textarea::placeholder {
  color: #A3A3A4;  
}

.button {
    font-family: Lato, sans-serif;
    padding: 15px 30px;
    margin: 30px auto;
    font-size: 1.3em;
    color: white;
    border: 1px solid #5D536D;
    background: #706482;
    display: block;
    border-radius: 30px;
    border: 1px solid #5D536D;
    background: #706482;
    -webkit-appearance: none;
}
.button:hover {
    border: 1px solid #5D536D;
    background: #635874;
}

div#wordlists {
    padding-left: 7em;
}

div#wordlists div {
    margin-top: 50px;
}

div#wordlists div:first-child, div#wordlists h3 {
    margin-top: 0em;
}

div#results p {
    font-size: 0.8em;
}

div#share {
    background-color: #DFDDE3;
    padding: 16px;
    margin: 40px 160px 40px 160px;
    padding: 1em 2em;
}

div#share h3 {
    margin: 0.5em 0em 1em 0em;
}


.reference {
    font-size: 0.8em;
}

a.reference {
    line-height: 4em;
}



@media only screen and (max-width: 480px) {

    h1 {
        font-size: 36px;
        text-align: center;
    }

    div.header {
        padding: 30px 40px 35px 40px;
        text-align: center;
    }

    div.nav {
        float: none;
        padding-top: 30px;
    }

    div.nav a:first-child {
        padding-left: 0;
    }


    div.formsection {
        padding-left: 10px;
    }

    div#share {
        background-color: #DFDDE3;
        padding: 16px;
        margin: 60px 20px 40px 20px;
        padding: 1em 2em;
    }

    textarea {
        height: 250px;
    }

}
