<html>
  <head>
  </head>
  <body>

  <div class="header">
    <h1>Gender job-checker</h1>
  </div>

  <div class="main-content">
    {% block maincontent %}
    {% endblock %}
  </div>
  
  <div class="footer">
	<hr />
    <p>This tool uses the original list of gender-coded words from the research done by Danielle Gaucher, Justin Friesen, and Aaron C. Kay, with a few additions from me. <a href="https://faculty.fuqua.duke.edu/~ack23/Publications%20PDFs/gendered%20wording%20JPSP.pdf">You can find their paper here</a>.</p>
    <p>The code is on GitHub, and I'd welcome any suggestions about the wordlists it uses, by pull request or tweet.</p>
    <p>Thanks to Stephen Shearman whose <a href="http://www.ere.net/2013/03/01/you-dont-know-it-but-women-see-gender-bias-in-your-job-postings/">blog post</a> introduced me to the research last year; and to Made by Many's Isaac Pinnock whose <a href="http://madebymany.com/blog/can-a-few-well-chosen-words-improve-inclusivity">recent blog post</a> gave me the final nudge towards building this.</p>
    <p>By <a href="http://www.katmatfield.com">Kat Matfield</a> / <a href="http://www.twitter.com/lovedaybrooke">@LovedayBrooke</a></p>
  </div>


  </body>
</html>