{% extends "basic-layout.html" %}

    {% block maincontent %}
        <h2>About this tool</h2>
        <p>This tool was inspired by a research paper written by Danielle Gaucher, Justin Friesen, and Aaron C. Kay back in 2011, called <a href="/static/documents/Gaucher-Friesen-Kay-JPSP-Gendered-Wording-in-Job-ads.pdf">Evidence That Gendered Wording in Job Advertisements Exists and Sustains Gender Inequality</a> (Journal of Personality and Social Psychology, July 2011, Vol 101(1), p109-28).</p> 
        <p>In this paper the researchers showed job adverts which included different kinds of gender-coded language to men and women and recorded how appealing the jobs seemed and how much the participants felt that they 'belonged' in that occupation. No non-binary people were included in this research, and the research didn't touch on non-binary-coded words.</p>
        <p>Their results showed that women felt that job adverts with masculine-coded language were less appealing and that they belonged less in those occupations. For men, feminine-coded adverts were only slightly less appealing and there was no effect on how much the men felt they belonged in those roles.</p>
        <p>Below are the full lists of words that this research considered masculine- and feminine-coded. This tool checks job adverts for the appearance of any of these words, then calculates the relative proportion of masculine-coded and feminine-coded words to reach an overall verdict on the gender-coding of the advert. Some words have been reduced to a 'stem' to cover a range of noun, verb and adjective variants; for instance "compet" covers "compete", "competetive" and "competition".</p>
    <p>I don't totally agree with all the entries in these wordlists. I'd be interested in hearing your thoughts on what's in the lists and shouldn't be, or what's not included that should be. Let me know via Twitter <a href="http://www.twitter.com/lovedaybrooke">@LovedayBrooke</a>, or a <a href="https://github.com/lovedaybrooke/gender-decoder">pull request</a>.</p>
        <div id="masculine">
            <h3>Masculine-coded words</h3>
            <ul>
                {% for word in masculine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="feminine">
            <h3>Feminine-coded words</h3>
            <ul>
                {% for word in feminine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
