<html>
  <head>
    <title>Gender Decoder: find subtle bias in job ads</title>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link type="text/css"  rel="stylesheet" media="only screen and (max-device-width: 400px)" href="/static/stylesheets/phone.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49215167-1', 'auto');
      ga('send', 'pageview');

    </script>


  </head>
  <body>

  <div class="header">
    <h1><a href="/">Gender Decoder for Job Ads</a></h1>
  </div>

  <div class="main-content">
    {% block maincontent %}
    {% endblock %}
  </div>
  
  <div class="footer">
    <hr />
    <p id="research">This tool uses the original list of gender-coded words from the research paper written by Danielle Gaucher, Justin Friesen, and Aaron C. Kay: <a href="/static/documents/Gaucher-Friesen-Kay-JPSP-Gendered-Wording-in-Job-ads.pdf">Evidence That Gendered Wording in Job Advertisements Exists and Sustains Gender Inequality</a> (Journal of Personality and Social Psychology, July 2011, Vol 101(1), p109-28).</p>
    <p>The code is on <a href="https://github.com/lovedaybrooke/gender-decoder">GitHub</a>, and I'd welcome any suggestions about the <a href="/about#masculine">wordlists</a> it uses, by pull request or tweet.</p>
    <p>Thanks to Stephen Shearman whose <a href="http://www.eremedia.com/ere/you-dont-know-it-but-women-see-gender-bias-in-your-job-postings/">blog post</a> introduced me to the research last year; and to Made by Many's Isaac Pinnock whose <a href="http://madebymany.com/blog/can-a-few-well-chosen-words-improve-inclusivity">recent blog post</a> gave me the final nudge towards building this.</p>
    <p>By <a href="http://www.katmatfield.com">Kat Matfield</a> / <a href="http://www.twitter.com/lovedaybrooke">@LovedayBrooke</a></p>
  </div>


  </body>
</html>
