{% extends "basic-layout.html" %}

    {% block maincontent %}
    <main class="grid-container">
        <div id="intro" class="grid-40">
            <h2>Finding subtle bias in job ads</h2>
            <p>Without realising it, we all use language that is subtly ‘gender-coded’. Society has certain expectations of what men and women are like, and how they differ, and this seeps into the language we use. Think about “bossy” and “feisty”: we almost never use these words to describe men.</p>
            <p>This linguistic gender-coding shows up in job adverts as well, and research has shown that it puts women off applying for jobs that are advertised with masculine-coded language.<a href="#research">*</a></p>
            <p>This site is a quick way to check whether a job advert has the kind of subtle linguistic gender-coding that has this discouraging effect. <a href="/about">Find out more about how this works.</a></p>
        </div>
        <div id="form" class="formsection grid-60">
            <form action="/" method="post" name="jobadform">
                {{ form.hidden_tag() }}
                {{ form.texttotest(rows="20", placeholder="Paste your ad text here")|safe }}
                <input type="submit" value="Check this ad" class="button"/>
            </form>
        </div>
    </main>
    
    {% endblock %}